<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Deadfile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Deadfile" connectionString="Server=.\SQLEXPRESS;Database=Deadfile;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File"
              fileName="${specialfolder:dir=Deadfile/:file=DeadfileLog.txt:folder=ApplicationData}"
              archiveFileName="${specialfolder:dir=Deadfile/:file=DeadfileLog.{#}.txt:folder=ApplicationData}"
              archiveDateFormat="yyyy-MM-dd"
              archiveAboveSize="1048576"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="7"
              concurrentWrites="false"
              />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" appendTo="logfile" />
    </rules>
  </nlog>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <Deadfile.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value>.\SQLEXPRESS</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>RinsibleElk</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>guest</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>Deadfile</value>
      </setting>
    </Deadfile.Properties.Settings>
  </userSettings>
</configuration>
